.content{min-height: fit-content;}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;}
/* .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 19rem;
} */

.card{
    display: inline-flex;
    width: 80%;
}
.cardDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: 2%;
    /* width: 19rem; */
}

.titleContainer{
    color: black;
    text-align: center;
}

.priceContainer{
    color: #633345;
    text-align: center;
}

.detailsBTN{
    color: #633345;
    --background: white;
    --border-radius: 10px;
    --border-color: #633345;
    --border-style: solid;
    --border-width: 1px;
    --text:Arial, Helvetica, sans-serif ;
}
.icon{
    color: #633345;
    font-size: x-large;
    margin-top: 20%;
    
}

.enteteContainer{
    display:inline-flex;
    height: 200px;
    width: 50%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.imgContainer {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    left: 50%;
}

.imgContainer img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 5%;
}

.iconContainer{
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    
}

.btnContainer{
    display: inline-flex;
   
    align-items: center;
    
}
.cardBTN{
    --background: #536c23;
    --background-hover: #497347;
    --background-activated: #497347;
    --background-focused: #497347;
    --border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    width: fit-content;
}
.favBTN{
    color: #536c23;
}


.toast-container {
    width: 300px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    padding: 10px; /* Add padding for spacing */
    background-color: #333; /* Change the background color */
    color: #fff; /* Change the text color */
    border-radius: 8px; /* Add border radius for rounded corners */
  }
  

@media (max-width: 500px) {
    .card {
      max-width: 100%; /* Card takes full width on smaller screens */
      max-height: fit-content;
    }
    .btnContainer{
        display: flex;
       flex-direction: column;
        align-items: center;
        
    }
  }
